/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

/* Basic styles */
body {
    background: #2b3c4b;
}

/* H1 styling */

h1 {
    font-family: "Averia Gruesa Libre", sans-serif;
    color: #ceb4af;
    text-align: center;
    font-size: 250%;
    padding-top: 10px;
}

/* H2 & H3 styling */

h2,
h3 {
    font-family: "Expletus Sans", sans-serif;
    color: #a3b0bf;
    text-align: center;
    font-size: 150%;
    margin: 10px;
}

/* Paragraph styling */

p {
    font-family: "Josefin Sans", sans-serif;
    color: #8a8fa1;
    font-size: 140%;
}

/* Apply style to form elements */

label {
    font-family: "Josefin Sans", sans-serif;
    color: #a3b0bf;
    font-size: 115%;
}

/* Apply style to input fields */

input,
input::placeholder {
    color: #535361;
    font-size: 14px;
    font-style: italic;
    justify-content: center;
}

/* Style enty area */
.entry-area {
    display: flex;
    flex-direction: column;
}

/* Style Investment and Add Trades Sections */
.update-investment,
.add-trades {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Hide Investment and New Trade headings */

.investment,
.new-trade {
    display: none;
}

/* Style buttons to open Investment and New Trade sections */

.new-entry {
    background-color: #ceb4af;
    width: 250px;
    height: 40px;
    margin: 30px 10px 10px;
    color: #2b3c4b;
    border-style: double;
    border-color: #868289;
    border-radius: 5%;
    font-family: "Expletus Sans", sans-serif;
    font-size: 120%;
}

/* Style Investment Section input field */

#investment-box {
    margin: 10px;
    width: 200px;
    height: 27px;
}

/* Style action buttons */

#add-investment,
#add-trade-button {
    font-family: "Expletus Sans", sans-serif;
    font-size: 100%;
    font-weight: 100;
    background-color: #ceb4af;
    width: 80px;
    height: 35px;
    color: #2b3c4b;
    border-style: double;
    border-radius: 15%;
    margin: 5px;
    line-height: 30px;
    padding-bottom: 10px;
}

.update-investment .investment-action-buttons {
    display: flex;
}

/* Style Add New Trade form */

#investment-form,
#add-trade {
    margin-top: 10px;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-trade input {
    width: 200px;
    height: 27px;
}

/* Hide collapsable entry areas on mobile */

.collapsable-entry-area {
    display: none;
}

/* Style Summary table */

table {
    width: 90%;
    color: #8a8fa1;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
}

table,
th,
td {
    font-family: "Josefin Sans", sans-serif;
    color: #ceb4af;
    font-size: 115%;
    font-weight: 400;
    padding: 5px;
    border: 1px solid #a3b0bf;
}

#trades-summary {
    font-size: 80%;
    font-weight: 100;
}

/* Media query: tablets and larger screens (768px and up) */
@media screen and (min-width: 768px) {
    /* Increase fonts size */
    h1 {
        font-size: 350%;
    }

    h2,
    h3 {
        font-size: 170%;
    }

    p {
        font-size: 200%;
    }

    table,
    th,
    td {
        font-size: 130%;
    }

    /* Change alignment of the enty area */
    .entry-area {
        flex-direction: row;
        align-items: start;
    }

    /* Increase input fields on both forms */
    #investment-box {
        width: 250px;
        height: 35px;
    }

    #add-trade input {
        width: 250px;
        height: 35px;
    }

    #add-investment,
    #add-trade-button {
        width: 100px;
        height: 40px;
        padding-bottom: 0px;
    }

    /* Display Investment and New Trade headings */
    .investment,
    .new-trade {
        display: block;
    }

    /* Hide buttons to open Investment and New Trade sections */
    .new-entry {
        display: none;
    }

    .collapsable-entry-area {
        display: block;
    }

    /* Increase font size on form buttons */
    #add-investment,
    #add-trade-button {
        font-size: 100%;
    }

    /* Add on-hover effect on buttons */
    #add-investment:hover,
    #add-trade-button:hover {
        background-color: #2b3c4b;
        border-color: #8a8fa1;
        color: #ceb4af;
    }
}

/* Media query: larger devices (laptops & desktops, 992px and up) */
@media screen and (min-width: 992px) {
    table {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}
